<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="A simple maze runner component"></meta>
    <meta name="viewport" content="width=device-width"></meta>
    <title>Maze Runner Component Test</title>

    <link rel="stylesheet" href="maze_runner.css">
  </head>
  <body>
      <script src="maze_runner.js"></script>

      If nothing appeared below, then your browser does not support Custom Elements yet.
      <maze-runner
      data-name="Ruby"
      data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/ruby.png"
      data-url="http://example.com/1">
      </maze-runner>
      <maze-runner
      data-name="JavaScript"
      data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/javascript.png"
      data-url="http://example.com/2">
      </maze-runner>
      <maze-runner
      data-name="Python"
      data-img="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4621/python.png"
      data-url="http://example.com/3">
      </maze-runner>

    <ul id="maze-list"></ul>

    <!-- Templates -->

    <!-- JavaScript -->

  </body>
</html>
