<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="description" content="A simple maze runner component"></meta>
    <meta name="viewport" content="width=device-width"></meta>
    <title>Maze Runner Component Test</title>

    <link rel="stylesheet" href="maze_runner.css">
  </head>
  <body>

      If nothing appeared below, then your browser does not support Custom Elements yet.
      <maze-runner id="first-maze"
      data-name="Ruby"
      data-map="[
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1],
        [1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1],
        [1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1],
        [1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1],
        [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1],
        [1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1],
        [1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1],
        [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1],
        [1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]
      ]"
      data-starting-z=9
      data-starting-x=9
      data-destination-z=11
      data-destination-x=1
      data-starting-direction="west">
      </maze-runner>

      <maze-runner id="second-maze"
      data-name="Ruby"
      data-map="[
        [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
        [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
        [1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1],
        [1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1],
        [1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1],
        [1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1],
        [1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1],
        [1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1],
        [1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1],
        [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1],
        [1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1]
      ]"
      data-starting-z=9
      data-starting-x=9
      data-destination-z=11
      data-destination-x=1
      data-starting-direction="west">
      </maze-runner>

      <script>
      document.getElementById('first-maze').addEventListener('play', () => {
          console.log('first maze played');
      });
      document.getElementById('first-maze').addEventListener('win', () => {
          console.log('first maze won');
      });
      document.getElementById('second-maze').addEventListener('play', () => {
          console.log('second maze played');
      });
      document.getElementById('second-maze').addEventListener('win', () => {
          console.log('second maze won');
      });
      </script>

    <ul id="maze-list"></ul>

    <!-- Templates -->

    <!-- JavaScript -->
    <script type="module" src="maze_runner.js"></script>
    <script type="module" src="three.min.js"></script>

    <!-- Shaders -->
    <script type="x-shader/x-vertex" id="vertexShader">
		varying vec3 vWorldPosition;
        void main() {
			vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
			vWorldPosition = worldPosition.xyz;
			gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
		}
	</script>

	<script type="x-shader/x-fragment" id="fragmentShader">
		uniform vec3 topColor;
		uniform vec3 bottomColor;
		uniform float offset;
		uniform float exponent;
		varying vec3 vWorldPosition;
		void main() {
			float h = normalize( vWorldPosition + offset ).y;
			gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );
		}
	</script>
  </body>
</html>
