html
    head
        
            meta(charset="utf-8")
            meta(name="description" content="A simple maze editor")
            meta(name="viewport" content="width=device-width")
            
            title Maze editor
            
            // TODO - Stylesheets within app directory
            link(rel="stylesheet" href="../../../maze/css/main.css")
                
    body
        
        header
            h1 Create a new challenge
            
            p Size 9 (Only size right now)
            
        main

            form(method="POST" action="../")
                
                label Choose Your Maze
                
                    select(name="maze")
                        each maze in mazes
                            option(value=maze.id)= maze.name
                            
                button Submit
                
            a(href="../") Back to List
                
        footer
