html
    head
        meta(charset="utf-8")
        meta(name="description" content="A simple maze editor")
        meta(name="viewport" content="width=device-width")
            
        title Maze Editor
        
        link(rel="stylesheet" href="../maze/css/main.css")
            
        include /shared/polyfill.pug
        
    body
        
        header
            h1 Maze Editor
            
        main
            
            section
                article
                    include /user/show.pug
            
            section(id="challenge-list")
                
                a(href="create/") Send a new challenge
                
                h2 Your Challenges:
                
                h3 Sent
                each challenge in challenges.sent
                    article
                        include /challenge/show.pug
                        
                h3 Received
                each challenge in challenges.received
                    article
                        include /challenge/show.pug
        footer
