html
    head
        
            meta(charset="utf-8")
            meta(name="description" content="A simple maze editor")
            meta(name="viewport" content="width=device-width")
            
            title Maze editor
            
            // TODO - Stylesheets within app directory
            link(rel="stylesheet" href="../../css/main.css")
                
    body
        
        header
            h1= maze.name
            
            p Size #{maze.size}
            
        main
            
            include /user/show.pug
            
            include /maze/show.pug
                
            a(href="../../") Back to List
                
        footer

        script(src="../../js/maze_viewer.js")
